{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sport olympique</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>

          <div class="container">

<br><br>

              <div class="card mb-3">
                  <img src="{{ sport.image.url }}" class="card-img-top" alt="{{ sport.name }}">
                  <div class="card-body">
                    <h2 class="card-title">{{ sport.name }}</h2>
                    <p class="card-text">{{ sport.description|safe }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>

              </div>




        </div>
<br><br><br><br><br><br><br><br>


{% endblock %}